.heading1{
    background-color:rgb(185, 4, 25);
    color: whitesmoke;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1% 8%;
}

.navbar1 a{
    text-decoration: none;
    color: whitesmoke;
}

.navbar1 a:hover{
    color:rgb(126, 126, 126);
}

.navbar2 a{
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.navbar2 a:hover{
    color:rgb(185, 4, 25);
}

.navbar1{
    background-color:rgb(185, 4, 25);
    color: white;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    padding-left: 8%;
    margin-top: 1px;
    
}

.navbar2{
    background-color:rgb(236, 236, 236);
    color: rgb(92, 92, 92);
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    padding: 0% 8%;
}

.mainheading{
    background-color:rgb(236, 236, 236);
    color: rgb(59, 59, 59);
    font-size: 45px;
    padding: 1% 40% 0% 8%;
    text-align: auto;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1%;
    font-weight: bold;
}

date{
    padding-left: 8%;
    margin-top: 1em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(126, 126, 126);
    
}

header button{
    margin-top: 10px;
    margin-left: 8%;
    background-color: rgb(185, 4, 25);
    color: whitesmoke;
}

header button:hover{
    background-color: whitesmoke;
    color: rgb(185, 4, 25);
}

.firstpic{
    margin-left: 8%;
    margin-top: 2%;
    width: 50%;
}

.line{
    margin: 1% 40% 0% 8%;
    color: grey;
}

.text{
    margin-left: 8%;
    margin-right: 40%;
    line-height: 20px;
    text-align: justify;
    margin-top: 1%;
    margin-bottom: 1%;
    color: rgb(92, 92, 92);
    font-family: Arial, Helvetica, sans-serif;
}

strong{
    font-weight: bold;
}

ul{
    margin-left: 8%;
    margin-right: 40%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    list-style-type: disc;
}

li a{
    text-decoration: underline;
    color: rgb(92, 92, 92);
}

li a:hover{
    color:rgb(185, 4, 25);
}

.heading2{
    margin: 2%;
    margin-left: 8%;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(78, 78, 78);
    font-weight: bold;
}

.video1{
    margin-left: 8%;
    width: 50%;
}

figcaption{
    margin-left: 8%;
    margin-right: 40%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(78, 78, 78);
    color: whitesmoke;
    padding: 1%
}

h3{
    margin: 1%;
    margin-left: 8%;
    font-size: 20%px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 78, 78);
    font-weight: bold;
}

.relatedtopics{
    margin-left: 8%;
    font-family: Arial, Helvetica, sans-serif;
}

.relatedtopics a{
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.relatedtopics a:hover{
    color:rgb(185, 4, 25);
}

.more{
    margin-left: 8%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    font-weight: bold;
}

.more a{
    text-decoration: underline;
    color: rgb(92, 92, 92);
}

.more a:hover{
    color:rgb(185, 4, 25);
}